#video-container{
/* set here some css to fixed the position of the video container */
}

#question-content{
    width: 60%;
}
.my-comment{
    border-left: 1px solid #ccc;
    background: #F3F2F7;
}

#my-homework{
    max-height: 250px;
}

#my-homework-feed{
    max-height: 214px;
    overflow: auto;
}

#my-updates{
    max-height: 250px;
}

#my-updates-feed{
    max-height: 214px;
    overflow: auto;
}

#my-recent-activity{
    max-height: 250px;
}

#my-recent-activity-feed{
    max-height: 214px;
    overflow: auto;
}

#recent-class-activity{
    max-height: 250px;
}

#recent-class-activity-feed{
    max-height: 214px;
    overflow: auto;
}

#recent-class-activity .scrollable {
    max-height: 220px;
}

#btn_submit_marks{
    margin-left: 1em;
}

.assessment-mark{
    background: none repeat scroll 0 0 #CCCCCC;
    border: 1px solid #000000;
    float: none;
    text-align: center;
    width: 25px;
}

#assessment-review-container{
    margin-top: 3em;
    width: 600px;
}

.div-show {
    display: block;
}

.div-hide {
    display: none;
}

.votes-container {
    float: right;
}

.votes-container div {
    float: left;
    margin-right: 5px;
}

.votes-container div.vote-total {
    background: #d6d6d6;
    padding: 3px 6px;
    margin: 0 12px 0 8px;
}

.votes-container div.vote-minus-plus {
    padding: 3px 0;
}

#answers-container{

}

.my-answer{
    background: none repeat scroll 0 0 #F3F2F7;
}
.answer-item{
    border: 1px solid #CCCCCC;
    margin-bottom: 15px;
    padding: 5px;
    width: 64%;
}

.answer-assessment{
border:1px solid #ccc;
}

.feed-row{
    padding: 3px 2px 3px 6px;
}   


/* ALERT STYLES */
.alert {
    float: left;
    width: 100%;
    padding: 7px 0;
	text-indent: 30px;
	font-size: small;
	color: #414B53;
	background: white;
	border-top: 1px solid lightGrey;
}

.alert strong {
	font-size: 12px;
}

.alert-created-example{
    background: #adbbd2;
}

.alert-created-question{
    background: #adbbd2;
}

.alert-question{
    background: #adbbd2;
}

.alert-example  {
    background: #f3f5f8;
}

.alert-ok{
    background: #d0d8e5;
}

.alert-comment-example	{
	background: #E4E9F0;
}

.alert-comment-answer  {
    background: #f3f5f8;
}

.alert-comment-comment  {
    background: #f3f5f8;
}

.alert-voted-comment{
    background: #d0d8e5;
}

.alert-voted-example{
    background: #d0d8e5;
}

.alert-voted-question{
    background: #d0d8e5;
}

.alert-voted-question-concept {
	background: #d0d8e5;
}

.alert-voted-answer-concept {
	background: #d0d8e5;    
}

.alert-assessed-comment {
	
}

.alert-assessed-example {
	
}

.alert-assessed-answer {
	
}

.alert-voted-example-concept { 
	background: #d0d8e5;
}

.alert-question-answered{
    background: #d0d8e5;
}

.alert-tagged-example{
    background: #d0d8e5;
}

.alert-tagged-question{
    background: #d0d8e5;    
}

.alert-created{
    background: #adbbd2;
}

.alert-completed{
    background: green;
}

.alert-close-btn{
	position: relative;
	display: block;
    width: 20px;
    cursor: pointer;
}
.alert-close-btn img {
	position:absolute;
	top: 9px;
	left: 5px;
}




#login-form{
    border: 2px solid #000000;
    padding:1em;
}
/*
 /////////////////////// Start new styles added
*/

#login-form form label {
    float: left;
    font-weight: bold;
    width: 120px;
}

#login-form #username {
    margin-bottom: 5px;
    width: 150px;
}

#login-form #password {
    margin-bottom: 5px;
    width: 150px;
}

#login-form #login-button {
    width: 100px;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 120px;
}

.hide-container{
display:none;
}

#debugMode {
    background: #ccc;
    

}

#newThread-container {
    float: left;
}

#discussion-container {

}

#elos-container {
    border: 2px dashed #000000;
    padding: 1em;
}

#elo-discussion {
    border: 2px dashed #000000;
    padding: 1em;
}

#tags-container div{
    float:left;
}


#tags-container div.votes-container {
    float:right;
}

#tags-container .tag-name{
    width:45%; /*adjust up after making arrows smaller*/
    margin-right:15px;
}

#tags-container .tag-votes{
    border: 1px solid #ccc;
    padding: 5px;
    float:right;
    margin-right: 5px;
}

.post-item .tag-votes{
    border: 1px solid #CCCCCC;
    float: right;
    height: 23px;
    margin-right: 5px;
    text-align: center;
    width: 32px;
}

.post-meta {
    width: 75%;
}

.post-reply {
    color: #133d7f;
    float: right;
}

.post-author {
    float: left;
}

.post-author span {
    font-size: 0.75em;
}

.post-item {
    padding-left: 5px;
    min-height: 50px;
}


.post-content {
}


#posts-list {
    max-height: 450px;
    overflow: auto;
    text-align: left;
    margin-bottom: 10px;
}

#posts-list ul {

    margin-top: 0;
/*    padding-left: 0; */
    padding-left: 15px; 
    padding-top: 2px;}

#posts-list ul li {
	display: inline-block;
	list-style-type: none;
	list-style-position: inside;
	/* padding-left: 1px; */
	margin-top: 2px;
	width:100%;
    /*padding-left: 0;*/
    margin-left: 0;
}

#reply-container {
    margin-top: 1em;
    width: 600px;
}


/*
 /////////////////////// End new styles added
*/

#welcome {
    background-color: #ffffff;
    display: inline;
    display: block;
    float: left;
    position: absolute;
    left: 100px;
    top: 100px;
    margin-right: 20px;
    padding: 7px 15px 7px 0px;
}

#welcome span{
    color: #133d7f;
}

li.header-li{
    display: inline;
    display: block;
    float: left;
    margin-right: 20px;
    background-color: #dbdbdb;
    padding: 10px 15px 7px 15px;
    margin-left: 3px;
}

li.header-li a{
    color: black;
    text-decoration: none;
}

/*li.header-li a:hover{
    background: #ffffcc;*/

#search-li {
    display: inline;
    display: block;
    float: left;
    margin-right: 20px;
    margin-left: 4px;
    background-color: #dbdbdb;
    padding: 7px 15px 6px 8px;
    height: 22px
}

#project-name {
    float:right;
    font-size: 17pt;
    color: #FFFFFF;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #dd9e37;
}

#header {
    float: left;
}

#header-logout {
    float:right
}

#header-search {
    float: right;
/*    margin-right: 20px;*/
}

.dashlet-box-image {
    background: none repeat scroll 0 0 #F6F6F6;
    border: 1px solid #000000;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 1px 1px 3px;

    color: #333333;
    /*font-family: Tahoma, Geneva, sans-serif;*/
    margin-right: 1em;

    margin-bottom: 1em;
    margin-right: 1em;
    overflow: hidden;
    padding: 0.5em;
}

.dashlet-box-image .image-holder {
    text-align: center;
}

.dashlet-box {
    background: none repeat scroll 0 0 #DBDBDB;
    border: 1px solid #000000;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 1px 1px 3px;
    color: #000000;
    margin-bottom: 1em;
    margin-right: 1em;
    overflow: hidden;
}

.scrollable  {
    overflow-x: hidden;
    overflow-y: auto;
}

.dashlet-box ul li {
    display: inline-block;
    width:100%;
}

.dashlet-box-simple{
    border: 1px solid #000000;
    color: #333333;
    margin-bottom: 1em;
    margin-right: 1em;
    padding: 0.5em;
}

.dashlet-title {
    border-bottom: 1px solid;
    color: #414B53;
    font-size: 1em;
    font-weight: bold;
	padding: 5px 10px;
    text-align: left;
}

/* overwriting look of some dashlet's that behave like buttons*/
#course-actions div{
    color: #FFFFFF;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #dd9e37;
	width: 200px;
	margin-left: 60px;
}

#course-actions div a:link, #course-actions div a:visited {
    color: #FFFFFF;
    text-decoration: none;
	font-size: medium;
    font-weight: normal;
}

.ul-for-data {
   list-style: none outside none;
    margin: 0;
    padding: 0 0 7px;
}

.item-label{
    width:60px;
    font-size:1em;
}

.item-input{
    font-size:1em;
}

/* /////////////////////////////////// */

body {
    margin: 0;
    font-family: Tahoma, Verdana, Helvetica, sans-serif;
    font-size: 1em;
    color: #333333;
    background: #333333;
}

.clear {
    clear: both;
    height: 0px;
}

#main_content a:link, 
#main_content a:visited {
    color: #414B53;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
}

#main_content a:hover{
	text-decoration: underline;
}

/*#main_content a:link:hover, #main_content a:visited:hover, #main_content a:focus {
    color: #FFFFFF;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-decoration: none;
    background: #DBDBDB;
}*/

.dashlet-box li {

    font-size: 1em;
    /*margin-left: 2em;*/
    overflow: auto;
    float:left;
/*    margin: 2px 0px;*/

}
/*.dashlet-box li:hover {
    border: 1px solid #FFFFFF;
    background: none repeat scroll 0 0 #F5F5F5;
}*/

#container {
	margin-bottom: 2em;
    margin-left: 4em;
    margin-right: 4em;
    margin-top: 2em;
    text-align: left;
}

#global_header, #global_footer {
    /*
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #000000;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: rgba(255,255,255,0.5) 0px 2px 6px;
    -moz-box-shadow: rgba(255,255,255,0.5) 0px 2px 6px;
    box-shadow: rgba(255,255,255,0.5) 0px 2px 6px;
    */
    
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #000000;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 1px 1px 3px #000000;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

#global_header {
    background-image: url("../images/background_top.png");
    background-position: center center;
    background-repeat: no-repeat;
    bottom: 0;
    /*height: 200px;
    position: fixed;
    width: 100%;*/
    z-index: 5;
    text-align:left;
}

#global_header img {
    text-align: left;
    /*float: left;*/
    width: 20%;
    /*height: 20%;*/
    margin-left: 0px;
}

#global_footer {
    background-image: url("../images/background_top.png");
    background-position: center center;
    background-repeat: no-repeat;
    bottom: 0;
    /*height: 200px;
    position: fixed;
    width: 100%;*/
    z-index: 5;
    text-a
}

#header div{
    float:left;
}

#main_content {
/*
	overflow: auto;
	border: 1px solid #000;
	background: #FFF;
	color: #333333;
	margin-top: .5em;
	margin-bottom: .5em;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: rgba(255,255,255,0.5) 0px 2px 6px;
	-moz-box-shadow: rgba(255,255,255,0.5) 0px 2px 6px;
	box-shadow: rgba(255,255,255,0.5) 0px 2px 6px;
*/
    overflow: auto;
    border: 1px solid #000;
    background: #FFF;
    color: #333333;
    /*font-family: Tahoma, Geneva, sans-serif;*/
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: auto;
    margin-right: auto;
    /*width: 98%;*/
    padding: 2em;
/*  padding-bottom: 1.5em;*/
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: rgba(255,255,255,0.5) 0px 2px 6px;
    -moz-box-shadow: rgba(255,255,255,0.5) 0px 2px 6px;
    box-shadow: rgba(255,255,255,0.5) 0px 2px 6px;
}

/************ OVERRIDE JPLAYER *************/

div.jp-controls-holder {
    clear: none;
    top: 8px;
    padding-bottom: 14px;
}

div.jp-video-270p {
    margin: 0 auto;
}

#elo-tags{
    float: right;
    margin-left: 20px;
    width: 30%;
}

.comment-score{
	font-size: 1.3em;
	padding: 0.4em;
	text-align: center;

}

#orig-reply-container
{
	margin-top:1em;
	width:600px;
}
